.selectors {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
  flex-direction: column;

  .fd-column {
    display: flex;
    flex-direction: column;

    select, textarea, input {
      width: 100%;
      max-width: 15rem;
    }
  }
}