<p>{{ context.content }}</p>
<button (click)="rate(1)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(2)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(3)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(4)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(5)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>