<p>This is a dynamically imported component!</p>
<button (click)="rate(1, $event)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(2, $event)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(3, $event)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(4, $event)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>
<button (click)="rate(5, $event)">
  <svg>
    <use xlink:href="../../assets/svg/sprite.svg#icon-star"></use>
  </svg>
</button>